.HomeP2 {
    display: flex;
    /* justify-content: space-around; */
    background-color: #333;
    padding: 10px 0;
    padding-left : 20px;
    padding-right : 20px;
  }


form {
    width: 300px;
    font-family: Arial, sans-serif;
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-right: 50px;
  }
  

  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  

  form textarea {
    height: 100px;
    resize: vertical;
  }
  
  
  form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  

  form button[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  